export OS_AUTH_URL=Beyonce
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=is 
export OS_PROJECT_DOMAIN_NAME=the 
export OS_USERNAME=queen 
export OS_USER_DOMAIN_NAME=of 
export OS_PASSWORD=music 
